{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center"><b>Bestyrelsen</b></h1>
<p class="text-center">Ansvarlig for østjyskmesterskab</p>
<div class="text-center">
    <img src="{% static 'images/forside.jpg' %}" class="rounded member-images" alt="Steen">
</div>

<div class="col-12 d-flex justify-content-center mt-5 mb-5">
    <div class="col-3 ">
        <video class="loop" width="500px" height="500px" controls="controls">
        <source src="{% static 'images/Video.mov' %}" type="video/mp4" />
    </div>
</div>

{% endblock content %}