<nav class="navbar navbar-expand-md primary-background">
  <div class="container-fluid">
      <a class="navbar-brand secondary-color" href="#">Bestyrelsen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active secondary-color" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link secondary-color" href="/members">Members</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link secondary-color" href="/events">Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link secondary-color" href="/leaderboard">Leaderboard</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

  <style>
    .primary-background {
      background-color: #273c52;
    }
    .secondary-background {
      background-color: #F2F2F2;
    }
    .accent-background {
      background-color: #D4AF37;
    }
    .primary-color {
      color: #273c52;
    }
    .secondary-color {
      color: #F2F2F2;
    }
    .accent-color {
      color: #D4AF37;
    }
  </style>