{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center mb-4">Members</h1>

<div class="container">
    <div class="row text-center mb-5">
        <div class="col-4">
            <h3>Steen - Formand </h3>
            <img src="{% static 'images/steen.jpg' %}" class="rounded member-images" alt="Steen">
            <p class="mt-3">
                Som formand er Steen primært ansvarlig for den daglige drift af bestyrelsen og sikrer den effektive udnyttelse af de ressourcer, der er tilgængelige for bestyrelsen. Steen leder bestyrelsesmøderne, faciliterer kommunikationen mellem bestyrelsesmedlemmerne og arbejder aktivt med at implementere bestyrelsens strategier og beslutninger. 
            </p>
            <p>
                Han er også involveret i at repræsentere bestyrelsen udadtil og opretholde gode relationer med relevante interessenter. Steen stræber efter at skabe en effektiv og velorganiseret bestyrelse, der arbejder målrettet mod at opfylde organisationens mål og sikre dens succes.
            </p>
        </div>
        <div class="col-4">
            <h3>Jesper - næstformand/kronprins </h3>
            <img src="{% static 'images/jesper.jpg' %}" class="rounded member-images" alt="Jesper">
            <p class="mt-3">
                Som næstformand spiller Jesper en afgørende rolle i bestyrelsen. Jesper arbejder tæt sammen med formanden for at sikre, at bestyrelsens mål og opgaver udføres effektivt. Han træder ofte ind i formandens rolle i dennes fravær og hjælper med at koordinere og organisere bestyrelsesaktiviteter.
            </p>
            <p>
                Jesper deltager aktivt i bestyrelsesmøderne og bidrager til drøftelser, beslutninger og implementeringen af bestyrelsens strategier. Han støtter også formanden i at opretholde god kommunikation og samarbejde blandt bestyrelsesmedlemmerne.
            </p>
            <p>
                Udover sit tætte samarbejde med formanden fungerer Jesper som en kontakt mellem bestyrelsen og de relevante interessenter. Han repræsenterer bestyrelsen i forskellige sammenhænge og arbejder på at sikre, at organisationens interesser og mål bliver forstået og varetaget.
            </p>
            <p>
                Som næstformand er Jesper en nøgleperson i bestyrelsen og bidrager til at skabe en solid og effektiv ledelse, der arbejder for organisationens succes og vækst.
            </p>
        </div>
        <div class="col-4">
            <h3>Alex - kasserer og IT ansvarlig </h3>
            <img src="{% static 'images/alex.jpg' %}" class="rounded member-images text-center" alt="Alex">
            <p class="mt-3">
                Som IT-ansvarlig og kasserer har Alex ansvaret for både økonomistyring og IT-drift i organisationen. Alex spiller en afgørende rolle i at sikre en effektiv og økonomisk bæredygtig drift ved at håndtere både økonomiske ressourcer og IT-infrastruktur.
            </p>
            <p>
                Som kasserer styrer Alex organisationens økonomi, herunder budgettering, regnskabsføring og finansielle transaktioner. Sammen med resten af bestyrelsen udvikler Alex finansielle strategier og sikrer økonomisk ansvarlighed.
            </p>
            <p>
                Samtidig er Alex ansvarlig for at håndtere og vedligeholde organisationens IT-systemer. Han identificerer passende IT-løsninger, sikrer systemets sikkerhed og yder teknisk support til brugerne. Alex holder sig ajour med teknologiske fremskridt og foreslår forbedringer eller opgraderinger for at optimere IT-infrastrukturen.
            </p>
            <p>
                Gennem sin ekspertise inden for både økonomistyring og IT sikrer Alex en effektiv drift, hvor både økonomiske og teknologiske ressourcer udnyttes optimalt til organisationens succes og vækst.
            </p>
        </div>
    </div>
</div>

<style>

    .member-images {
        width: 60%;
    }

</style>

{% endblock content %}